
.aboutcontainer{
    width: 80%;
    margin: 0 auto;
border-style: groove;
}


.row{
    width: 100%;
    height: 350px;
}

.col-lg-4{
    float: left;
    width: 50%;


}

.col-md-7{
    
     /* width: 100px  */
}

#wholepage{
    background-image: url("../assets/holder1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: fixed;
}

.grip{
    margin-left: 800px;
}

.grip2{
    margin-right: 900px;
    margin-top: -200px;
}

.sub{
    color: red;
}

div .col-lg-4 img{
    border: 3px groove red;
    border-radius: 50%;
    
}